ul.blog-types {
    list-style-type: none;
}
div.blog:not(:last-child){
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
}
div.blog h3 {
    margin-top: 0.5em;
}
div.blog p.blog-info {
    margin-bottom: 0;
}
div.paginator {
    text-align: center;
}

ul.blog-info-description {
    list-style-type: none;
    margin-bottom: 1em;
}
ul.blog-info-description li{
    display: inline-block;
    margin-right: 1em;
}
div.blog-content{
    text-indent: 2em;
    margin-bottom: 2em;
}
div.blog-more {
    margin-top: 1em;
}

div.comment-area {
    margin-top: 2em;
}
h3.comment-area-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.4em;
}

div.django-ckeditor-widget {
    width: 100%;
}

div.comment {
    border-bottom: 1px dashed #ccc;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}
div.reply {
    margin-left: 2em;
}
div#reply_content_container {
    border: 1px solid #d1d1d1;
    border-bottom: none;
    background-color: #f8f8f8;
    overflow: hidden;
    padding: 1em 1em 0.5em;
}
p#reply_title {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 0.5em;
}

div.like {
    color: #337ab7;
    cursor: pointer;
    display: inline-block;
    padding: 0.5em 0.3em;
}

div.like .active{
    color: #f22;
}


ul.timeline {
    list-style-type: none;
    background: url("../res/img/version_line.png") repeat-y scroll 120px 0 transparent;
    margin: 30px 0;
    padding: 0;
}

ul.timeline li {
    position: relative;
    margin-bottom: 20px;
}
ul.timeline li .time {
    position: absolute;
    width: 90px;
    text-align: right;
    left: 0;
    top: 10px;
    color: #999;
}
ul.timeline li .version {
    position: absolute;
    width: 290px;
    text-align: right;
    left: -200px;
    top: 30px;
    font-size: 40px;
    line-height: 50px;
    color: #3594cb;
    overflow: hidden;
}
ul.timeline li .number {
    position: absolute;
    background: url("../res/img/version_dot.png") no-repeat scroll 0 0 transparent;
    width: 56px;
    height: 56px;
    left: 97px;
    line-height: 56px;
    text-align: center;
    color: #fff;
    font-size: 18px;
}
ul.timeline li.alt .number {
    background-image: url("../res/img/version_dot_alt.png");
}
ul.timeline li .content {
    margin-left: 180px;
    
}
ul.timeline li .content pre {
    background-color: #3594cb;
    padding: 20px;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
}
ul.timeline li.alt .content pre {
    background-color: #43B1F1;
}

