* {
    padding:0px;
    margin:0px;
}

html, body {
    padding:0px;
    margin:0px
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


body {
    background: rgb(110, 150, 235)  no-repeat fixed top;
    padding-top: 70px;
    padding-bottom: 30px;
}

ul {
    list-style-type: none!important;
}

ul.navbar-right {
    margin-right: 0;
}

img {
    vertical-align: middle;
    border: 0;
}

img.img-user {
    width: 25px;
    height: 25px;
}

.profile-img {
    display: block;
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
}

/**
.img-circle {
    border-radius: 50%;
}
**/


.Site {
    display: flex;
    display: -webkit-flex; /* Safari */
    min-height: 100vh;
    flex-direction: column;
  }
  
  .Site-content {
    flex: 1;
  }


.page-bottom {
    width: 100%;
    clear: both;
    background: #e7e7e7;
    margin-top: 2.5em;
    padding: 1em 0 0;
    color: #777;
    /*
    bottom: 0;
    width: 100%;
    clear: both;
    background: #e7e7e7;
    margin-top: 2.5em;
    color: #777;
    **/
}

.page-bottom .title {
    color: #424242;
    font-weight: bold;
    border-bottom: 1px solid #aaa;
    padding-bottom: 7px;
    margin-bottom: 1em;
    margin-top: 1em;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.page-bottom .copyright {
    text-align: center;
    padding: 0.5em 0;
    margin-top: 1.5em;
    background: #4F5893;
    color: #e7e7e7;
}


/*头像编辑*/
.avatar-wrapper {
    height: 370px;
    width: 100%;
    margin-top: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.25);
    background-color: #fcfcfc;
    overflow: hidden;
  }
   
  .avatar-wrapper img { display: block; height: auto; max-width: 100%;}
   
  /*头像预览*/
  .avatar-preview {
    margin-top: 15px;
    margin-right: 15px;
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
    height: 96px;
    width: 96px;
  }
   
  .avatar-preview:hover { border-color: #ccf; box-shadow: 0 0 5px rgba(0,0,0,.15);}
  